@use "var";

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 90dvw;
  gap: 20px;
  margin: auto;
  margin-bottom: 20px;

  section {
    background-color: var.$card_bg_color;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-title {
      background-color: var.$header_bg;
      color: var.$header_text;
      padding: 5px;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 1.75rem;
      width: 100%;
    }

    .card-block {
      background-color: var.$card-block-bg;
      padding: 10px;
      border-radius: 5px;
      font-size: 1.25rem;
      width: 100%;
    }

    .card-block-mini {
      background-color: var.$card-block-bg;
      padding: 10px;
      border-radius: 5px;
      font-size: 1.25rem;
      width: 75%;
    }
  }

  #socials-projecten {
    span {
      padding-left: 27.5px;
      a {
        color: var.$link_color;
        text-decoration: none;
      }
    }
  }
}


@media (min-width: 800px) {
  main {

  }
}