$header_bg: #3E90CC;
$header_text: #FFFFFF;
$header_text_hover: #CFCFFF;
$button_color: #0F172A;
$text_color: #000000;
$background_color: #D9D9D9;
$card_bg_color: #FFFEFE;
$link_color: #87D9FF;
$menu_color: #60B4B4;
$line_color: #3E90CC;