@use "scssLib/var";
@use "scssLib/header";
@use "scssLib/main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 90px;
}

body {
  background-color: white;
}

hr {
  border: 2px solid var.$line_color;
  margin: 10px 0;
  width: 100%;
}

.text-center {
  text-align: center;
}

ul {
  list-style-position: inside;
}